TOKEN = ""
AI_INSTRUCTIONS = "Two texts are given to you. The english and translated bengali version. Check if the bengali translation is correct and only reply the bengali translation nothing else."
AI_ASSIST = False
